.color{
  background-color: #5d57bb;
}
.colora{
  background-color: #bd46d7;
}
.colorb{
  background-color: #e91f90;
}
/*pour supprimer les puces d'une liste*/
ul{
  list-style-type: none;
}
/*pour que la taille du cadre ne soit pas modifié par le visiteur*/
textarea{
  resize: none;
}
